.navbar {
    align-items: center;
    background: linear-gradient(to bottom, #ffe2e2, #eda8a8);
    background-size: 125% 125%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    left: 0;
    padding: 0.75rem;
    position: sticky;
    top: 0;
    transition: background-position 0.5s ease, box-shadow 0.25s ease;    
    width: 100%;
    z-index: 1000;
}

.navbar:hover {
    background-position: bottom;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.33);
}

.logo {
    justify-self: start;
}

.center-icons, .right-icons {
    flex-wrap: wrap;
    justify-content: center;
}

.center-icons {
    align-items: center;
    display: flex;
    gap: clamp(1rem, 4vw, 6rem);
    justify-self: center;
}

.right-icons {
    align-items: center;
    display: flex;
    gap: clamp(1rem, 2vw, 4rem);
    justify-self: end;
}

.logo, .right-icons {
    min-width: 120px;
}

/* -------------------------------------------------- */

.navbar-logo {
    align-items: center;
    display: flex;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
    transition: filter 0.25s ease, transform 0.25s ease;
}

.navbar-icon {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
    transition: filter 0.25s ease, transform 0.25s ease;
}

.navbar-logo:hover {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.33));
    transform: scale(1.1);  
}

.navbar-icon:hover {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.33));
    transform: scale(1.2);
}

.navbar-sign-out-icon {
    background: none;
    border: none;
    cursor: pointer;
}

.navbar-profile-icon {
    margin-left: -0.425rem;
    margin-right: 1rem;
}

/* -------------------------------------------------- */

@media (max-width: 720px) {
    .navbar {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        justify-items: center;  
    }
    .center-icons {
        gap: 2rem;
        margin: 1rem 0 0 0;
    }
    .right-icons {
        gap: 2rem;
        justify-self: center;
        margin: 0.5rem 0 0 0;
    }
    .logo {
        justify-self: center;
    }
}